<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="beans.Address" id="addId" >
        <constructor-arg value="2"/>
        <constructor-arg value="delhi"/>
        <constructor-arg value="7122"/>
    </bean>

    <bean class="beans.Student" id="stdId">
        <constructor-arg value="55"/>
        <constructor-arg value="ankit"/>
        <constructor-arg ref="addId"/>

    </bean>

</beans>